.vp-doc table {
    display: table;
    margin: 20px auto;
}

/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand-1: #c77676;
    --vp-c-brand-2: #ca6161;

    --color-ultimate: #ffb8fe;
    --color-extreme: #f4989c;
    --color-chaotic: #d6f6dd;
    --color-criterion: #dac4f7;
    --color-savage: #ebd2b4;
    --color-other: #acecf7;
}

::selection {
    background: var(--vp-c-brand-1);
}

strong {
    color: var(--vp-c-brand-1);
}

.dark {
    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;
}

.glossaryTerm {
    cursor: help;
    text-decoration: underline wavy;
    font-weight: bold;
    color: var(--vp-c-brand-1);
}

.v-popper__popper.v-popper--theme-glossary-tooltip .v-popper__inner {
    background: var(--vp-c-bg-elv);
    border: 1px solid var(--vp-c-divider);
    max-width: 350px;
}
.v-popper__popper.v-popper--theme-glossary-tooltip .v-popper__arrow-outer {
    border-color: var(--vp-c-bg-elv);
}
.v-popper__popper.v-popper--theme-glossary-tooltip .v-popper__inner {
    color: var(--vp-c-text-1);
}
