.vp-doc table {
    display: table;
    margin: 20px auto;
}

/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand-1: #c77676;
    --vp-c-brand-2: #ca6161;

    --color-ultimate: #ffb8fe;
    --color-extreme: #f4989c;
    --color-chaotic: #d6f6dd;
    --color-criterion: #dac4f7;
    --color-savage: #ebd2b4;
    --color-other: #acecf7;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #c77676 10%, #ebd2b4);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #c77676 50%, #ebd2b4 50%);
    --vp-home-hero-image-filter: blur(68px);

    --nav-top: 0;
    --local-nav-top: 64px;
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(68px);
    }
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

::selection {
    background: var(--vp-c-brand-1);
}

strong {
    color: var(--vp-c-brand-1);
}

.dark {
    --vp-c-bg: #1b1b1f;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #202127;
}

.glossaryTerm {
    cursor: help;
    text-decoration: underline dotted var(--vp-c-brand-1);
    font-weight: 600;
    transition: 0.2s ease;
    color: var(--vp-c-brand-1);
}

.glossaryTerm:hover {
    color: var(--vp-c-text-1);
    text-decoration: underline dotted var(--vp-c-text-1);
}

.v-popper__popper.v-popper--theme-glossary-tooltip .v-popper__inner {
    background: var(--vp-c-bg-elv);
    border: 2px solid var(--vp-c-divider);
    max-width: 250px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.v-popper__popper.v-popper--theme-glossary-tooltip .v-popper__arrow-outer {
    border-color: var(--vp-c-bg-elv);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.v-popper__popper.v-popper--theme-glossary-tooltip .v-popper__inner {
    text-align: center;
    text-wrap: balance;
    color: var(--vp-c-text-1);
}

.ultimate-text {
    color: var(--color-ultimate);
    font-weight: 600;
}

@media (max-width: 960px) {
    .VPNav {
        position: fixed !important;
        transition: background-color 0.5s, margin-top 0.2s linear !important;
        margin-top: var(--nav-top);
    }

    .VPNav:not(:has(.VPNavBar.home.top)) {
        background-color: rgba(27, 27, 31) !important;
    }

    .VPNavBar:not(.home.top) .divider-line {
        background-color: var(--vp-c-gutter);
    }

    .VPLocalNav {
        top: var(--local-nav-top) !important;
        transition: top 0.2s linear;
    }

    #VPContent {
        margin-top: var(--vp-nav-height);
    }
}